

@model List<Model.Strekning>

@{


    if (Session["LoggetInn"] == null)
    {
        Response.Redirect("~/Loginn/Index");
    }

}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste</title>



</head>
<body style="background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); background-attachment: fixed;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:black; font-size:18px">
        <div class="container">
            <div class="navbar-header">
                <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><img src="~/Images/Logo.PNG" width="80" height="48" />

            </div>
            <div id="navbar-collapse-02" class="collapse navbar-collapse">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav navbar-right">
                    <li> @Html.ActionLink("Tilbake til AdminSide", "AdminSide", "Loginn")</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div>
    <br /><br />

    <div> @Html.ActionLink("Registrer ny Strekning", "RegistrerStrekning", new { tom = "" }, new { @class = "btn btn-success" })</div>

    <br /><br />



    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model[0].SId)

            </th>


            <th>
                @Html.DisplayNameFor(model => model[1].Fra)

            </th>
            <th>
                @Html.DisplayNameFor(model => model[2].Til)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Fra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Til)
                </td>


                <td>
                    @Html.ActionLink("Endre", "EndreStrekning", new { id = item.SId }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Slette", "SlettStrekning", new { id = item.SId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>

</body>
</html>
